.todo_box input {
  margin: 0 auto;
  border-style: none;
  border: none;
  position: fixed;
  font-size: 30px;
  width: 90vh;
  height: 10vh;
  margin: 20px;
  border-radius: 6px;
  background-color: rgba(242,242,247,0.5);
  box-shadow: 0px 0px 20px #acacac;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform .2s ease-in-out;
  color: rgba(44, 62, 80, 1);
}

#js-menu{
  color: #fff;
  background-color: rgba(44, 62, 80, 1);
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 35px;
  font-size: 1.3rem;
}